{% extends "/base.html" %}
{% block content %}
{% include "/includes/nav.html" %}
<div class="container mx-auto my-20">
    <h1 class="text-8xl text-center" id="welcome">Welcome To Summy</h1>
</div>
<main class="px-20">
    <form>
        <div class="container mx-auto px-10 pb-8 pt-4 mx-20 rounded-lg blue-box mb-5">
            <h2 class="text-lg mb-6 opacity-70">Details</h2>

            <div class="flex">
                <input placeholder="Title"
                    class="placeholder:bold placeholder:text-lg placeholder:text-white flex-1 linking-container py-4 px-5 rounded-full ms-5"></input>
            </div>
        </div>

        <div class="container mx-auto px-10 pb-8 pt-4 mx-20 rounded-lg blue-box">
            <h2 class="text-lg mb-6 opacity-70">Reference</h2>
            <button class="mb-2 rounded-full font-bold w-fit p-4 text-xl" id="new" type="button">New +</button>

            <div id="insert-into-link">
                <div class="flex my-4 changeing-link">
                    <div class="flex-none linking-number w-fit py-2 px-4 rounded-full">
                        <p class="text-center align-middle m-2 font-bold text-lg">1</p>
                    </div>
                    <input placeholder="link"
                        class="placeholder:bold placeholder:text-lg placeholder:text-white flex-1 linking-container py-2 px-5 rounded-full ms-5"></input>
                    <button class="flex-none ms-4 linking-cancel w-fit py-2 px-4 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-8 h-8 stroke-2 my-auto middle-align">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>

            <button class="mt-2 rounded-full font-bold w-fit p-4 text-xl" id="search" type="submit">Search</button>
        </div>
    </form>
</main>
<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
        ></script>
<script src="{{ url_for('static',filename='./JS/index.js')}}"></script>
{% endblock %}