{% extends "/base.html" %}
{% block content %}

<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto" id="sidebar">
        <ul class="space-y-2 font-medium">
            <li class="flex">
                <button class="flex items-center p-2 rounded-lg outline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <span class="ml-3 ">Add Chat</span>
                </button>
                <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
                    aria-controls="default-sidebar" type="button"
                    class="inline-flex items-center p-2 ml-3 text-sm outline rounded-lg">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        viewBox="0 0 22 21">
                        <path
                            d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                        <path
                            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                    </svg>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="sm:ml-64 relative flex flex-col h-screen sm:w-[calc(100%-16rem)]">
    {% include "/includes/nav.html" %}

    <div class="flex justify-center">
        <div class="container w-5/6">
            <ul>
                <li class="mt-8 computer-reply p-8 rounded-lg shadow-2xl">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate reiciendis dignissimos repellendus, aut culpa obcaecati nisi sed, officiis voluptas veniam id dicta quis eveniet illum odit. Nobis, animi porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam amet exercitationem deserunt, explicabo dolor minima tempore hic dicta mollitia, ex culpa! Soluta, enim modi temporibus distinctio unde quaerat? Illo, porro!</p>
                </li>
                <li class="mt-8 user-ask p-8 rounded-lg shadow-2xl">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate reiciendis dignissimos repellendus, aut culpa obcaecati nisi sed, officiis voluptas veniam id dicta quis eveniet illum odit. Nobis, animi porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam amet exercitationem deserunt, explicabo dolor minima tempore hic dicta mollitia, ex culpa! Soluta, enim modi temporibus distinctio unde quaerat? Illo, porro!</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="fixed bottom-5 sm:w-[calc(100%-16rem)] flex justify-center">
        <input class=" w-1/2" type="text"
            placeholder="Ask a question!">
    </div>

</div>
{% endblock %}